# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Carpeta de activos no utilizados
unusedAssets/

# Archivos de configuración del entorno virtual
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# MkDocs documentation
/site

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/
